.container {
    width: 90%; /* Make the box take up the full width of its parent container */
    height: 100vh; /* Adjust the height as needed */
    background-color: #eeeeee; /* Set your desired background color */
    border: 1px solid #131212;
    margin: auto;
    text-align: center;
  }

  .logo{
    width: 400px;
    margin: auto;
  }

  .instructions{
    width: 80%;
    margin: auto;
  }

  
/* Mobile Devices */
@media (max-width:600px) {

  .logo {
    width:60%;
  }

}

